html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.logo {
  display: inline-flex;
  padding-top: .66rem;
  padding-bottom: .66rem;
  width: 100%;
  align-items: center;
  background: black;
  text-transform: uppercase;
}
.logo img {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo h3 {
  padding-left: 1rem;
}

.mainbanner {
  display: flex;
  background-image: url("../resources/images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.mainbanner_text {
  /* make relative position so we can move and float on top of image */
  position: relative;
  background-color: black;
  height: 10rem;
  width: 22rem;
  top: 9rem;
  left: 20%;
  text-transform: uppercase;
}

.mainbanner_text .p1 {
  font-size: 1.0rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-left: 3rem;
}

.mainbanner_text .p2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-left: 3rem;
}

.navigation select {
  display: none;
}

.navigation {
  background-color: Firebrick;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
  height: 4.0rem;
}

.navigation .nav_link {
  /*make flex so we can align and justify the menue items*/
  display: flex;
  width: 960px;
  height: 2rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  align-items: center;
  justify-content: space-around;
}

.navigation .nav_link li {
  display: inline;
  padding: 30px;
}
.nav_link a {
  color: white;
  text-decoration: none;
}

.productgrid {
  display: flex;
  padding-top: 3rem;
  justify-content: space-around;
}

.productgrid .prod1 {
  /* make flex and column, in order to position and stylize */
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
}

.productgrid .prod1 img {
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.productgrid .prod1 .prod1_text {
  /* set backgrond color and position */
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.productgrid .prod2 {
  /* make flex and column, in order to position and stylize */
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
}

.productgrid .prod2 img {
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.productgrid .prod2 .prod2_text {
  /* set backgrond color and position */
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.productgrid .prod3 {
  /* make flex and column, in order to position and stylize */
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
}

.productgrid .prod3 img {
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.productgrid .prod3 .prod3_text {
  /* set backgrond color and position */
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact {
  display: flex;
}

.contact .llabel{
  display: flex;
  background-color: black;
  margin-top: 3rem;
  margin-left: 3.5%;
  height: 4rem;
  width: 35%;
  align-items: center;
  justify-content: center;
}

.contact .hlabel {
  display: flex;
  background-color: black;
  margin-top: 3rem;
  margin-left: 22%;
  width: 35%;
  align-items: center;
  justify-content: center;
}

.ctext {
  display: flex;
  color: black;
}

.ctext .ltext {
  display: flex;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  align-items: center;
}

.ctext .htext {
  display: flex;
  margin-top: 1rem;
  margin-left: 21rem;
  margin-bottom: 1rem;
  align-items: center;
}

footer {
  background-color: black;
  height: 5rem;
}

footer p {
    text-align: left;
    padding-top: 2.25rem;
}

 @media only screen and (max-width: 1024px) {
  .mainbanner_text .p1 {
    font-size: 0.75rem;
  }

  .mainbanner_text.p2 {
    font-size: 1.25rem;
  }

  .navigation ul li a {
    display: none;
  }

  .productgrid {
    flex-wrap: wrap;
  }

  .productgrid .prod1 {
    width: 47%;
    flex-wrap: wrap;
  }
  .productgrid .prod2 {
    width: 47%;
    flex-wrap: wrap;
  }
  .productgrid .prod3 {
    width: 47%;
    flex-wrap: wrap;
  }
  .navigation select {
    display: inline-block;
    justify-content: center;
    color: white;
  }

}

 @media only screen and (max-width: 470px) {
   .navigation select {
     display: inline-block;
     justify-content: center;
     color: white;
   }
   .navigation  ul li a {
     display: none;
   }
   .logo h3 {
     align-items: flex-end;
     font-size: 0.5rem;
   }
   .productgrid .prod1 {
     width: 65%;
     flex-wrap: wrap;
   }
   .productgrid .prod2 {
     width: 65%;
     flex-wrap: wrap;
   }
   .productgrid .prod3 {
     width: 65%;
     flex-wrap: wrap;
   }
   footer {
     text-align: center;
   }
 }
